{{ define "main" }}
<article>
	<div class="title-container">
	    <h1 class="title">{{ .Title }}</h1>
        {{ if .Date }}
        {{ partial "post-meta.html" . }}
        {{ end }}
        {{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}
	</div>

	{{ if isset .Params "tldr" }}
	<div class="tldr">
		<strong>tl;dr:</strong>
		{{ .Params.tldr }}
	</div>

    {{ end }}

	<section class="single-body">
		{{ .Content }}
	</section>

    {{ if isset .Params "link" }}
    <details open>
        <summary>More Info</summary>
        <div class="details-contents">
            <ul class="more-info-list">
                <li><a href="{{ .Params.link }}">{{ .Params.link }}</a></li>
            </ul>
        </div>
    </details>
    {{ end }}

    {{ partial "related.html" . }}
    {{ partial "post-tags.html" . }}

</article>
{{ end }}
