{{ define "main" }}
<article>
	<div class="title-container">
	    <h1 class="title">{{ .Title }}</h1>

        {{ if eq .Type "posts" }}
        <div class="meta-single-container">
            <div>
                <span class="meta">Rating: </span>{{ partial "rating.html" . }}
            </div>
            <div style="text-align: right;">
                {{ partial "post-meta.html" . }}
            </div>
        </div>
        {{ end }}
	</div>

	{{ if isset .Params "tldr" }}
	<div class="tldr">
		<strong>tl;dr:</strong>
		{{ .Params.tldr }}
	</div>

    {{ end }}

	<section class="single-body">
		{{ .Content }}
	</section>

    {{ if isset .Params "bonus" }}
    <details open>
        <summary>Bonus Fact</summary>
        <div class="details-contents">
            <ul id="bonus-fact-list">
                <li>{{ .Params.bonus }}</li>
            </ul>
        </div>
    </details>
    {{ end }}

    {{ if isset .Params "link" }}
    <details open>
        <summary>More Info</summary>
        <div class="details-contents">
            <ul id="more-info-list">
                <li><a href="{{ .Params.link }}">{{ .Params.link }}</a></li>
            </ul>
        </div>
    </details>
    {{ end }}

    {{ partial "related.html" . }}
    {{ partial "post-tags.html" . }}

</article>
{{ end }}
