/* Markdown */
:root {
    --spacing-unit: 30px;
    --spacing-unit-x2: 60px;
    --default-size: 17px;
    --mobile-size: 15px;
    --large-size: 1.1em;
    --small-size: 0.9em;
    --smaller-size: 0.8em;
    --h1-size: 2rem;
    --h2-size: 1.6rem;
    --h3-size: 1.2rem;
    --white: white;
    --fg: #232333;
    --red: #e83903;
    --purple: rebeccapurple;
    --light-blue: #f3f9ff;;
    --blue: #0065e8;
    --dark-blue: #0c0cb7;
    --yellow: #fdfa41;
    --light-purple: #eef;
    --green: #3cac82;
    --light-gray: #999;
    --gray: #828282;
    --hover-color: var(--yellow);
    --nimbus-bg: #1a1a1a;
    --nimbus-lightest-green: #8fbc8f;
    --nimbus-red: #d65946;
    --nimbus-yellow: #baba36;
    --nimbus-blue-bg: #112b47;
    --nimbus-green-bg: #11472b;
}

html {
    color: var(--fg);
    font-family: 'Roboto Mono', monospace;
    font-size: var(--default-size);
    line-height: 1.6em;
}

.monkey {
    color: var(--purple);
    width:  24px;
    height: 24px;
}

@media screen and (max-width: 600px) {
    html {
        font-size: var(--mobile-size);
    }

    .monkey {
        width:  21px;
        height: 21px;
    }
}

body {
    margin: 0;
    padding: 0;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
    background: var(--green);
    color: var(--white);
}

h1 {
    font-size: var(--h1-size);
    margin-top: 1em;
    line-height: 1.2;
    padding-bottom: 0.5em;
    border-bottom: 3px dotted var(--purple);
}

h2 {
    font-size: var(--h2-size);
    margin-top: 1em;
}

h3 {
    font-size: var(--h3-size);
    margin-top: 2em;
}

h4 {
}

p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
}

hr {
    border: 0;
    border-top: 3px dotted var(--purple);
    margin-top: 3em;
    margin-bottom: 1em;
}

.short-hr {
    margin-left: 1em;
    margin-right: 1em;
}

blockquote {
    border-left: 2px solid var(--red);
    color: #737373;
    margin: 0;
    margin-left: 1em;
    padding-left: 1em;
}

a {
    color: var(--blue);
    border-radius: 5px;
    text-decoration: none;
}

a:hover {
    background-color: var(--hover-color);
    color: var(--fg);
}

ul {
    margin-bottom: 0;
    list-style: none;
    padding-left: 2ch;
}

ul li {
    text-indent: -2ch;
    margin-bottom: 0.5em;
}

ul > li::before {
    content: '- ';
    font-weight: bold;
    color: var(--purple);
}

/* Images */

img {
    border: 3px solid #ececec;
    max-width: 100%;
}

figure {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    max-width: 100%;
}

figure img {
    max-height: 500px;
}

@media screen and (min-width: 600px) {
    figure {
        padding: 0 40px;
    }
}

figure h4 {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 1em;
}

figure h4::before {
    content: '↳ ';
}

/* Hover Effects */

a:hover .no-hover {
    display: none;
}

.only-hover {
    display: none;
}

a:hover .only-hover {
    display: initial;
}

/* Containers */

main {
    flex: 1;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100.1vh;

    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 0 1ch;
    word-wrap: break-word;
}

.title-container {
    margin-bottom: 1.5em;
}

.single-body {
    margin-bottom: 2em;
}

/* Header */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em 0 0 0;
    column-gap: 4em;
    row-gap: 1em;
}

@media screen and (min-width: 800px) {
    header {
        justify-content: space-between;
    }
}

header .main {
    font-size: 1.75rem;
}

.main a {
    color: var(--dark-blue);
}

.main a:hover {
    color: var(--fg);
}

/* Meta */

.meta {
    color: var(--gray);
    letter-spacing: -0.5px;
    font-size: var(--smaller-size);
}

.meta a {
    color: var(--gray);
}

.rating {
    color: var(--green);
}

.rating::before {
    content: "[";
}

.rating::after {
    content: "]";
}

.meta-single-container {
    display: grid;
    grid-template-columns: auto auto;
}

.meta-date {
    white-space: nowrap;
}

.page-link-container {
    display: flex;
    column-gap: 1em;
    align-items: center;
}

.page-link {
    font-size: var(--large-size);
    color: var(--dark-blue);
    padding: 2px 5px;
}

.page-nav-container {
    display: grid;
    grid-template-columns: auto auto;
}

.page-nav {
    color: var(--fg);
    padding: 2px 5px;
}

.page-more {
    text-align: right;
}

.page-nav:hover, .page-link:hover {
    color: var(--fg);
}

.date-grouping {
    background-color: var(--light-blue);
    /* border:1px dashed black; */
}

.date-grouping-2 {
}

/* Details contents */

.details-contents {
    border-left: 2px dashed var(--light-gray);
}

/* Related Facts */

details {
    margin-bottom: 1em;
}

details summary {
    list-style-type: '→ ';
    color: var(--blue);
}

details[open] summary {
    list-style-type: '↴ ';
    color: var(--dark-blue);
}

details summary:hover {
    background-color: var(--hover-color);
    color: var(--fg);
}

#related-facts-more {
    margin-left: 1em;
}

#related-facts-list,
/* #related-facts-more-list, */
#more-info-list {
    margin-left: 1em;
}

#related-facts-more summary {
    font-size: var(--small-size);
    list-style-type: '→ ';
    color: var(--blue);
}

#related-facts-more[open] summary {
    list-style-type: '↴ ';
    color: var(--dark-blue);
}

/* Footer */
footer {
    margin-bottom: 1em;
}

.footer-container {
    font-size: var(--small-size);
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2em;
    width: 90%;
    margin: auto;
    align-self: center;
}

@media screen and (min-width: 600px) {
    .footer-container {
        width: 80%;
    }
}

.feather {
    max-height: 14px;
    color: var(--purple);
}

.footer-link {
    color: var(--dark-blue);
}

.footer-link:hover {
    color: var(--fg);
}

/* Common */

time {
    color: grey;
}

/* Posts */
article .title {
    margin-bottom: 0.25em;
}

/* Callout */
.callout {
    background-color: var(--blue);
    color: #fff;
    padding: 1em;
}

.callout p {
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
}

.callout a {
    border-bottom: 3px solid #fff;
}

.callout a:hover {
    background-color: #fff;
    color: var(--blue);
}

.site-description {
    display: flex;
    justify-content: space-between;
    column-gap: 2em;
    font-size: var(--small-size);
    margin-top: 1em;
}

.post-tags {
    margin-bottom: 1em;
}

.post-number {
    color: var(--purple);
}

.tag {
    color: var(--green);
    margin: 2px 5px;
    letter-spacing: -0.5px;
    font-size: var(--small-size);
}

.tag::before {
    content: "[";
}

.tag::after {
    content: "]";
}

.keep-together {
    display: inline-block;
    word-break: keep-all;
}

.draft-label {
    color: var(--purple);
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 6px;
    background-color: #f9f2f4;
}

/**
 * Code formatting
 */

code {
    background-color: var(--light-purple);
    padding: 0.1em 0.2em;
    font-size: var(--small-size);
}

pre {
    border-radius: 5px;
    background-color: #ececec;
    font-size: var(--small-size);
    line-height: 1.2;
    overflow-x: auto;
    padding: 1em;
    margin: var(--spacing-unit) var(--spacing-unit);
}

.highlight pre ::selection {
    background: var(--nimbus-green-bg);
    color: inherit;
}

pre code {
    background-color: transparent;
    color: inherit;
    font-size: 100%;
    padding: 0;
}

.highlight {
    position: relative;
    -webkit-overflow-scrolling: touch;
}

.highlight pre code[class*="language-"] {
    -webkit-overflow-scrolling: touch;
}

.highlight pre code[class*="language-"]::before {
    content: attr(data-lang);

    border: 1px solid var(--gray);
    border-radius: 5px;
    color: var(--nimbus-lightest-green);
    background-color: var(--nimbus-bg);
    font-size: 12px;
    letter-spacing: 0.025rem;
    padding: 0.1rem 0.5rem;
    position: absolute;
    text-align: right;
    text-transform: uppercase;

    right: var(--spacing-unit-x2);
    top: -10px;
}

/* table */
table {
    border-spacing: 0;
    border-collapse: collapse;
}

table th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
    font-size: large;
}

table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}
