{{ if isset .Data "Term" }}
<h1>{{ .Data.Term }}</h1>
{{ else }}
<h1 class="page-title">{{ .Title }}</h1>
{{ end }}

{{ $lastdate := 0 }}
{{ $setgrouping := 0 }}
<ul class="posts date-grouping">
	{{- range (.Data.Pages.ByParam "number").Reverse -}}
	  {{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
        {{ if eq $setgrouping 0 }}
          {{ if eq $lastdate 0 }}
            {{ $lastdate = dateFormat "Jan 2, 2006" .Date }}
          {{ end }}
        {{ end }}
        {{ if ne (dateFormat "Jan 2, 2006" .Date) $lastdate }}
          {{ if eq $setgrouping 0 }}
            </ul></li>
            <ul class="posts date-grouping-2" style="margin-top: 0;">
            {{ $setgrouping = 1 }}
          {{ else }}
            </ul></li>
            <ul class="posts date-grouping" style="margin-top: 0;">
            {{ $setgrouping = 0 }}
          {{ end }}
          {{ $lastdate = dateFormat "Jan 2, 2006" .Date }}
        {{ end }}
        {{ partial "post-link.html" . }}
      {{ end }}
	{{- end -}}
</ul>
