<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}

			{{ $pages := where (.Site.RegularPages.ByParam "number").Reverse "Type" "in" .Site.Params.mainSections }}

			<div class="site-description">
				{{- if isset .Site.Params "catchphrases" -}}
                <i><span id="catchphrase">...</span></i>
				{{- end -}}

				<span><b>{{ len $pages }} facts</b> <i>and counting!</i></span>
			</div>

			<main class="list">
                <h1>Latest</h1>

                <ul class="posts">
				    {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				    {{ range $paginator.Pages }}
		            {{ partial "post-link.html" . }}
				    {{ end }}
                </ul>

                <br>

				{{ template "partials/paginator.html" . }}
			</main>

			{{ partial "footer.html" . }}
		</div>

        <script>
         const catchphrases = {{ .Site.Params.catchphrases }};
         function randomCatchphrase (){
             document.getElementById("catchphrase").textContent = catchphrases[Math.floor(Math.random() * catchphrases.length)];
         }
         randomCatchphrase()
        </script>
	</body>
</html>
