{{ define "main" }}
  {{ $pages := where (.Site.RegularPages.ByParam "number").Reverse "Type" "in" .Site.Params.mainSections }}

  <div class="site-description">
      {{- if isset .Site.Params "catchphrases" -}}
      <span><i id="catchphrase">...</i></span>
      {{- end -}}

      <span style="text-align: right;"><b>{{ len $pages }} facts</b> <i>and counting!</i></span>
  </div>

  <h1>Latest</h1>

  {{ $lastdate := 0 }}
  {{ $setgrouping := 0 }}
  <ul class="posts">
      {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
      {{ range $paginator.Pages }}
        {{ if eq $setgrouping 0 }}
          {{ if eq $lastdate 0 }}
            {{ $lastdate = dateFormat "Jan 2, 2006" .Date }}
          {{ end }}
        {{ end }}
        {{ if ne (dateFormat "Jan 2, 2006" .Date) $lastdate }}
          {{ if eq $setgrouping 0 }}
            </ul>
            <hr/>
            <ul class="posts" style="margin-top: 0;">
            {{ $setgrouping = 1 }}
          {{ else }}
            </ul>
            <hr/>
            <ul class="posts" style="margin-top: 0;">
            {{ $setgrouping = 0 }}
          {{ end }}
          {{ $lastdate = dateFormat "Jan 2, 2006" .Date }}
        {{ end }}
        {{ partial "post-link.html" . }}
      {{ end }}
  </ul>

  <br>

  {{ template "partials/paginator.html" . }}

  <script>
   const catchphrases = {{ .Site.Params.catchphrases }};
   function randomCatchphrase (){
       document.getElementById("catchphrase").textContent = `"${catchphrases[Math.floor(Math.random() * catchphrases.length)]}"`;
   }
   randomCatchphrase()
  </script>

{{ end }}
